.header__link {
  background-color: black;
  color: var(--dark-nav-link);
  font-family: var(--source-code-pro);
  font-size: 2rem;
  font-weight: bold;
  margin: 5px 10px;
  padding: 10px 10px;
  transition: 0.5s;
  width: auto;
}

.header__link:hover {
  background-color: var(--navlink-background-color2);
  border-radius: 10px;
  color: white;
  margin: 5px 10px;
  padding: 10px 10px;
  transition: 0.5s;
  width: auto;
}

/* LANDSCAPE --------------> */

@media screen and (min-width: 600px) {
  
}

/* DESKTOP --------------> */

@media screen and (min-width: 1024px) {
  .header__link {
    background-color: black;
    color: var(--dark-nav-link);
    font-family: var(--source-code-pro);
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 10px;
    padding: 10px 10px;
    transition: 0.5s;
    text-align: right;
    width: auto;
  }
  
  .header__link:hover {
    background-color: var(--navlink-background-color2);
    border-radius: 10px;
    color: white;
    margin: 5px 10px;
    padding: 10px 10px;
    transition: 0.5s;
    width: auto;
  }
}
