.nav__bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header__logo {
  width: auto;
}

.header__link {
  border-left: 0 solid yellow;
  color: var(--dark-nav-link);
  display: inline-block;
  font-family: var(--inter);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 10px;
  padding: 0 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: auto;
}

.header__link:active {
  border-left: 10px solid yellow;
  color: white;
  margin: 0 10px;
  padding: 0 10px;
  text-transform: uppercase;
  transition: 0.5s;
  width: auto;
}

/* LANDSCAPE --------------> */
@media screen and (min-width: 600px) {
  .header__logo {
    width: 100vw;
  }
}

/* DESKTOP --------------> */

@media screen and (min-width: 1024px) {
  .header__logo {
    width: auto;
  }

  .header__link {
    border-left: 0 solid yellow;
    color: var(--dark-nav-link);
    display: flex;
    flex-direction: column;
    font-family: var(--inter);
    font-weight: 600;
    font-size: 1.7rem;
    margin: 20px 10px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: 0.5s;
    width: auto;
  }

  .header__link:hover {
    border-left: 20px solid yellow;
    color: white;
    margin: 20px 10px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: 0.5s;
    width: auto;
  }
}
