.header__link {
  color: var(--dark-nav-link);
  font-family: var(--source-code-pro);
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px 10px;
  width: auto;
}

.header__link:hover {
  background-color: var(--navlink-background-color);
  color: var(--button-text-hover);
  padding: 5px 10px;
  margin: 5px 10px;
  width: auto;
}

/* LANDSCAPE --------------> */

@media screen and (min-width: 600px) {
  
}

/* DESKTOP --------------> */

@media screen and (min-width: 1024px) {
  
}
