:root {
  --dark-nav-link: #f8f8f8;
  --light-nav-link: #121212;

  --dark-background-color: #121212;
  --light-background-color: #f8f8f8;

  --navlink-bottom-border1: #6a8694;
  --navlink-bottom-border2: #5215fc;
  --navlink-bottom-border3: #09cac7;
  --navlink-background-color1: #ffff00;
  --navlink-background-color2: #5372ff;

  --button-text-hover: #000000;

  --h2-color-text: #f8f8f8;

  --footer-background: #333333;
  --footer-text: #f8f8f8;

  --source-code-pro: "Source Code Pro", monospace;
  --inter: "Inter", sans-serif;
}
