body,
html {
  font-family: var(--source-sans-pro);
  background-color: var(--dark-background-color);
  height: 100vh;
  margin: 0;
}

.wrapper {
  display: inline-block;
  margin-top: 200px;
}

p {
  font-family: var(--source-code-pro);
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: (100px, auto);
  align-content:center;
  margin-top: 400px;
  margin-left: 30px;
}

.item {
  width: 33%;
  padding: 0;
  margin: 0;
}

footer {
  background-color: dimgray;
  height: 50px;
  text-align: right;
}
}